body {
  background-color:#fff;
  text-rendering: optimizeLegibility;
}

div .header-container {
  background-color:#ddd;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

div .toy {
  background-color:#ded;
  border-radius: 15px;
}

span[face] { -moz-transform:rotate(90deg); -webkit-transform:rotate(90deg); display:inline-block; margin-left:1em;}